.img-thumbnail{
    border: 0;
}

img{
    margin-left: 35%;
    margin-top:10%;
    height: 10%;
    width: 25%;
}
#logo{
    display: block;
}
.search{
    width: 40%;
    margin-left:27%;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

li{
    float: right;
}

a{
    display: block;
    padding: 8px
}
