.img-thumbnail{
    border: 0;
}

img{
    margin-left: 30%;
    height: 10%;
    width: 35%;
}
#logo{
    display: block;
}
.search{
    width: 60%;
    margin-left:20%;
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

li{
    float: right;
}

a{
    display: block;
    padding: 8px
}
